<div *ngIf="productAction?.event?.action === addProductAction">
  <!-- Formulário de adicionar produto -->
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-collumn gap-3">
      <!-- Nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name" />
      <!-- Categoria do produto -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>
      <!-- Preço do produto -->
      <input
        type="text"
        pInputText
        placeholder="Preço"
        formControlName="price"
      />
      <!-- Descrição do produto -->
      <input
        type="text"
        pInputText
        placeholder="Descrição"
        formControlName="description"
      />
      <!-- Quantidade -->
      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- Formulário de editar produto -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-collumn gap-3">
      <!-- Nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name" />
      <!-- Preço do produto -->
      <input
        type="text"
        pInputText
        placeholder="Preço"
        formControlName="price"
      />
      <!-- Descrição do produto -->
      <input
        type="text"
        pInputText
        placeholder="Descrição"
        formControlName="description"
      />
      <!-- Quantidade -->
      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- Formulário de vender produto -->
<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column md:flex-collumn gap-3">
      <p-dropdown
        styleClass="w-full"
        [options]="productsDatas"
        [(ngModel)]="saleProductSelected"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione o produto"
        formControlName="product_id"
      ></p-dropdown>

      <!-- Quantidade -->
      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
